<header>
  <nav>
    <a routerLink="/" class="logo">{{ "Ali Hussein" | translate }}</a>
    <ul class="desktop">
      <li>
        <a routerLink="/about" class="navLink">{{ "about" | translate }}</a>
      </li>
      <li>
        <a routerLink="/projects" class="navLink">{{ "projects" | translate }}</a>
      </li>
      <li>
        <a routerLink="/contact" class="navLink">{{ "contact" | translate }}</a>
      </li>
      <li (click)="changeLang()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="lang"
        >
          <path
            fill="none"
            d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11Zm0 0c3 0 4-5 4-11S15 1 12 1 8 6 8 12s1 11 4 11ZM2 16h20M2 8h20"
          />
        </svg>
      </li>
    </ul>

      
      <button class="menu" (click)="toggleMenu()" [ngClass]="isMenuOpen? 'opened' : ''">
        <svg width="50" height="50" viewBox="0 0 100 100">
          <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
  </nav>
  @if(isMenuOpen){
  <ul class="mobile">
    <li (click)="isMenuOpen = false">
      <a routerLink="/about" class="navLink">{{ "about" | translate }}</a>
    </li>
    <li (click)="isMenuOpen = false">
      <a routerLink="/projects" class="navLink">{{ "projects" | translate }}</a>
    </li>
    <li (click)="isMenuOpen = false">
      <a routerLink="/contact" class="navLink">{{ "contact" | translate }}</a>
    </li>
    <li (click)="changeLang(); isMenuOpen = false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="lang">
        <path
          fill="none"
          d="M12 23c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11Zm0 0c3 0 4-5 4-11S15 1 12 1 8 6 8 12s1 11 4 11ZM2 16h20M2 8h20"
        />
      </svg>
    </li>
  </ul>
  }
</header>
