<section class="skill">
  <h1 class="section-head">{{ "skills" | translate }}</h1>
  <div class="skill-items">
    <!-- adding all the images for the skills and their name below it -->
    <div class="skill-item">
      <img src="img/skills/html.svg" alt="HTML5" />
      <!-- <span class="skill-label">HTML5</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/css.svg" alt="CSS3" />
      <!-- <span class="skill-label">CSS3</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/sass.svg" alt="SASS" />
      <!-- <span class="skill-label">SASS</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/tailwindcss.svg" alt="TailwindCSS" />
      <!-- <span class="skill-label">TailwindCSS</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/javascript.svg" alt="JavaScript" />
      <!-- <span class="skill-label">JavaScript</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/typescript.svg" alt="TypeScript" />
      <!-- <span class="skill-label">TypeScript</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/angular.svg" alt="Angular" />
      <!-- <span class="skill-label">Angular</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/nodejs.svg" alt="NodeJS" />
      <!-- <span class="skill-label">NodeJS</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/express.svg" alt="Express.JS" />
      <!-- <span class="skill-label">Express.JS</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/nginx.svg" alt="NGINX" />
      <!-- <span class="skill-label">NGINX</span> -->
    </div>
    <div class="skill-item">
      <img src="img/skills/linux.svg" alt="Linux" />
      <!-- <span class="skill-label">Linux</span> -->
    </div>
  </div>
</section>
