:root {
    --text: #25282B;
    --text-light: #828282;
    --grey: #656970;
    --shadow: #717988;
    --primary: #FDC435;
    --error: #fd3535;
    --silver: #F9FAFF;
    --white: #FFFFFF;
}