:root {
    --text: #25282B;
    --text-light: #828282;
    --grey: #656970;
    --shadow: #717988;
    --blue: #1e2b42;
    --primary: #FDC435;
    --success: #5cb85c;
    --error: #fd3535;
    --silver: #F9FAFF;
    --white: #FFFFFF;
}