<section class="admin">
  <div class="admin-nav">
    <p
      class="nav-item"
      routerLink="/admin/projects"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "projects" | translate }}
    </p>
    <p
      class="nav-item"
      routerLink="/admin/skills"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "skills" | translate }}
    </p>
    <p
      class="nav-item"
      routerLink="/admin"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ "messages" | translate }}
    </p>
  </div>
  <router-outlet />
</section>
