@if (isLoading) {
<div>Loading...</div>
} @else if (skills.length === 0) {
<div>No skills available.</div>
<button routerLink="/admin/skills/add">Add Skill</button>
} @else {
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (skill of skills; track skill._id) {
    <tr>
      <td>{{ skill.name }}</td>
      <td><img [src]="skill.image" alt="{{ skill.name }}" /></td>
      <td>
        <button (click)="deleteSkill(skill._id!)">Delete</button>
      </td>
    </tr>
    }
  </tbody>
</table>
<button routerLink="/admin/skills/add">Add Skill</button>

}
