<section class="login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <label for="email">{{ "email" | translate }}</label>
      <input type="text" id="email" formControlName="email"/>
    </fieldset>
    <fieldset>
      <label for="password">{{ "password" | translate }}</label>
      <input type="password" id="password" formControlName="password"/>
    </fieldset>
    <button type="submit" [disabled]="!form.valid || loading">
      {{ "login" | translate }}
    </button>
  </form>
</section>
