:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 3rem;
  width: 100%;
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    max-width: 400px;
    width: 100%;
    gap: 2rem;
    fieldset {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: start;
      width: 100%;
      gap: 1rem;
      label {
        font-weight: 500;
        font-size: 1.2rem;
        color: (--text);
        text-transform: capitalize;
      }
      input {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding-inline: 1rem;
        border: 1px solid var(--grey);
        transition: all 0.2s ease-in-out;
        &:focus {
          outline: none;
          border-color: var(--primary);
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          border-color: var(--text-light);
          transition: all 0.2s ease-in-out;
        }
      }
    }
    button {
        background-color: var(--primary);
      padding-inline: 1rem;
      padding-block: 0.5rem;
      border-radius: 10px;
      text-transform: capitalize;
      align-self: flex-end;
      font-weight: 500;
      outline: transparent;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: var(--white);
        outline: 1px solid var(--primary);
        transition: all 0.2s ease-in-out;
      }
      &:disabled {
        background-color: var(--text-light);
        color: var(--white);
        cursor: not-allowed;
      }
    }
  }
}
