.sample-projects{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    .projects {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        padding-block: 2rem;
    }
}