<section class="hero">
  <div
    class="image"
    [ngStyle]="rtl() ? { transform: 'scaleX(-1)' } : { transform: 'scaleX(1)' }"
  >
    <img src="img/web_developer.jpeg" class="hero__img" />
  </div>
  <div class="intro">
    <p class="role">{{ "Frontend Web Developer" | translate }}</p>
    <h1 class="headline">
      {{ "Hello, my name is Ali Hussein" | translate }}
    </h1>
    <p class="detail">
      {{
        "I'm passionate about transforming pixels into stunning, interactive experiences. I love crafting beautiful, functional, and user-friendly websites that push the boundaries of web development and design. With a deep understanding of the latest web technologies and frameworks, I'm dedicated to delivering cutting-edge digital solutions. Let's bring your digital vision to life!"
          | translate
      }}
    </p>
    <div class="actions">
      <a class="projects-btn" routerLink="/projects">{{
        "projects" | translate
      }}</a>
      <a
        class="text-btn"
        href="https://api.whatsapp.com/send/?phone=00201003390002"
        target="_blank"
        >{{ "text me 😊" | translate }}</a
      >
    </div>
  </div>
</section>
