@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Petit+Formal+Script&display=swap');
:root {
    --arabic: "Cairo", sans-serif;
    --sans: "Noto Sans", sans-serif;
    --cursive: "Petit Formal Script", serif;
}